__pycache__/main.cpython-311.pyc
a_summary.txt
create your own market research tool with serpapi with streamlit and edit all of it online_summary.txt
create your own market research tool with serpapi with streamlit and edit all of it online_transcript.txt
save_transcript.txt
